<% provide(:title, 'About Us') %>

<h1>About Us</h1>

<p>yesyes, we are the flippers. you can sometimes wear us on your feet, but sometimes we laugh like a dolphin and try to eat your feet. it's not personal, it's just the way we are. we're not sorry</p>